.PlansContainer{
    
  
    display: flex;
    flex-direction: column;
   width: 100vw;
   height: 500px;
    position: relative;
    padding: 1rem;
    color: whitesmoke;
    background-image: url("https://images.pexels.com/photos/1235717/pexels-photo-1235717.jpeg?auto=compress&cs=tinysrgb&w=600");
    /* background-image: url("../assests/cafebg2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: contain;
    opacity: 0.8;
    background-color: rgb(132, 130, 130);
    
 }
 
 .programHeader{
     display: flex;
     position: relative;
     left: 2rem;
     gap: 2rem;
     font-size: 3rem;
     font-style: italic;
     font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
      color: white;
 }
 
 .btn{
    
     align-items: center;
     justify-content: center;
     background-color: white;
     padding: 0.5rem;
     font-weight: bold;
     width: 150px;
     border: none;
    
     color: black;
 }
 .Plans{
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100vw;
    
    height: 400px;
 
}

.plan{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
    opacity: 0.8;
    color: white;
    gap: 1rem;
    padding: 1.5rem;
    height: 400px;
    margin: 20px;
    width: 300px;
}

.plan:nth-child(2){
    background: var(--planCard);
    transform: scale(1.1);

}

.plan>svg{
    fill: orange;
    width: 2rem;
    height: 2rem;
}

.plan>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
   
}

.plan>:nth-child(3){
    font-size: 3rem;
    font-weight: bold;
}


.plan>:nth-child(5){
    font-size: 0.8rem;
 
 }
 
 .features{
     display: flex;
     flex-direction: column;
     gap: 1rem;
 }
 
 .feature{
     display: flex;
     align-items: center;
     gap: 1rem;
 
 }
 
 .feature>img{
     width: 1rem;
 }
 
 .Plans>:nth-child(2)>svg{
     fill: white;
 }
 
 .Plans>:nth-child(2)>button{
     color: orange;
 }
 @media screen and (max-width:768px) {
    .programHeader{
        flex-direction: column;
        gap: 1rem;
        font-size: x-large;
        margin-top: 2rem;
        position: relative;
       
    }

    .Plans{
        flex-direction: column;
    }

    .Plans>:nth-child(2){
        transform: none;
    }
}  
